<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="main-content">
    {{>header}}
    <div class="content-area">
        <p>This application was made as a part of a node js course by Andrew Made. I made some changes and improvements.
            The application uses <a href="https://expressjs.com/">Express</a> as a web server. The aplication is hosted by heroku. It gets the weather data from the <a href="https://weatherstack.com/">Weather Stack</a> API,
            and uses <a href="https://www.geoapify.com/">Geoapify</a> for getting the latitude and longitude for the weatherstack.</p>
        </div>
    </div>
     {{>footer}}
</body>
</html>