<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    {{>header}}
    <div class="main-content">
        <div class="title-container">
            <h2 class="title">{{msg}}</h2>
        </div>
    </div>
    
    {{>footer}}
</body>
</html>