:root{
    --border-color : #ccdcc8;
    --link-color: #006b46;
    --link-hover-color: #009b45;
    --background-color: #f4f4f4;
    --font-color: #333;
    --header-background-color: #fff;
    --background-color-lb: #76eef5;
    --background-color-db: #039ba3;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    background-color:var(--background-color);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px 32px 0px;
    margin-bottom: 16px;
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--border-color);
}

header .navbar{
    display: flex;
    justify-content: space-evenly;
    min-width: 70vw;
}

.main-content{
    justify-content: center;
    flex-grow: 1;
}

.main-content > *, footer{
    padding-right:36px;
    padding-left:36px;
}

body a {
   color:var(--link-color);
   text-decoration: none;
   font-weight: bold;
}

body a:hover {
    color:var(--link-hover-color);
 }

 .content-area{
    width: 80vw;
    margin:auto;
    line-height: 24px; 
 }

 footer{
    border-top:1px solid var(--border-color)
 }

 .image-container{
    display:flex;
    justify-content: center;
 }

 input, button{
    padding: 6px;
    border-radius: 6px 0px;
    border:none;
 }

 button{
    background-color: var(--background-color-lb);
 }

 button:hover{
    color: var(--header-background-color);
    background-color: var(--background-color-db);
    cursor: pointer;  
 }

 .weather-report-area{
   margin-top: 8px;
   padding: 16px;
   max-height: 40vh;
   border-top:var(--background-color-lb) 1px solid;
 }

 .weather-card{
   display: flex;
 }

 .weather-card img{
   width: 30%;
   padding: 18px;
   margin-right: 24px;
 }

 .spinner-area{
   width: 100vw;
   height: 100vh;
   position: absolute;
   display: flex;
   background-color: rgba(204,220,200,0.6);
   justify-content: center;
   align-items: center;
 }

 .hidden{
   display: none;
 }

 .lds-dual-ring {
   display: inline-block;
   width: 80px;
   height: 80px;
 }
 .lds-dual-ring:after {
   content: " ";
   display: block;
   width: 64px;
   height: 64px;
   margin: 8px;
   border-radius: 50%;
   border: 6px solid #5fb4fa;
   border-color: #5fb4fa transparent #5fb4fa transparent;
   animation: lds-dual-ring 1.2s linear infinite;
 }
 @keyframes lds-dual-ring {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }

 .message-card{
   display:flex;
   align-items: center;
   justify-content: center;
 }

 .message-container{
   border: var(--border-color) solid 1px;
   border-radius: 6px;
   padding:32px;
   display: flex;
  align-items: center;
 }

 svg{
  width: 100px;
  height: 100px;
 }
 
 